.ui-g-12 a {
  text-decoration: none;
}

.ui-g-12 a:hover {
  text-decoration:underline;
}
.cabecalho{
  font-weight: bold;
  background-color: #ccc;
}
/*
.ui-datatable thead th, .ui-datatable tfoot td {
  font-size: 16px !important;
  font-weight: bold;
  background-color: #ccc;
}
*/
